{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Metadata": {
      "CreatedAt": "0001-01-01T00:00:00Z",
      "Requester": {}
    },
    "Spec": {
      "Engine": "Docker",
      "Verifier": "Noop",
      "Publisher": "Estuary",
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Docker": {
        "Image": "quay.io/labdao/colabdesign:sha-adfe6d8@sha256:c01d09d5bb8989c3b5bce4777a34dc057fac164a771a482a35f20ce8531cf0af",
        "Entrypoint": [
          "/bin/bash",
          "-c",
          "/bin/bash -c \"mv /inputs/*.pdb /inputs/target_protein.pdb && mv /inputs/*.yaml /inputs/config.yaml; ls /inputs; echo 'Attempting main.py...'; python -u main.py; echo 'main.py complete!';\""
        ]
      },
      "Language": {
        "JobContext": {}
      },
      "Wasm": {
        "EntryModule": {}
      },
      "Resources": {
        "Memory": "12gb",
        "GPU": "1"
      },
      "Network": {
        "Type": "Full"
      },
      "Timeout": 3600,
      "inputs": [
        {
          "StorageSource": "IPFS",
          "CID": "QmSdDAMgCKN5nKrR8zPc7oeTqQPD17SqJXL59VwGoLXmYF",
          "path": "/inputs"
        }
      ],
      "outputs": [
        {
          "StorageSource": "IPFS",
          "Name": "outputs",
          "path": "/outputs"
        }
      ],
      "Annotations": [
        "test",
        "benchmarking"
      ],
      "Deal": {
        "Concurrency": 1
      }
    }
  }
}
